.projects-container {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.project-card {
	width: 30%;
	min-width: 50rem;
	padding: 3rem;
}

.box {
	position: relative;
	max-height: 23rem;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	background: #000;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}

@media screen and (min-width: 1200px) {
	.box {
		height: 27rem;
	}
}

.box:hover {
	transform: translateY(-2rem);
	box-shadow: 0 4rem 4rem rgba(0, 0, 0, 0.5);
}

.box .imgBox {
	position: relative;
}

.box .imgBox img {
	transition: 0.5s;
}

.box:hover .imgBox .img-responsive {
	opacity: 0.3;
	transform: translateY(-1rem);
}

.box .content {
	position: absolute;
	bottom: -3rem;
	left: 0;
	padding: 2rem;
	box-sizing: border-box;
	transition: 0.5s;
	opacity: 0;
}

.box:hover .content {
	bottom: 0;
	opacity: 1;
}

.box .content h3 {
	font-size: 3rem;
	color: #fff;
	font-weight: 700;
}

.box .content p {
	font-size: 2rem;
	color: #fff;
	font-weight: 400;
}

.box .content small {
	font-size: 1.5rem;
	color: #fff;
	font-weight: 400;
}

.box .content .btnD {
	border: none;
	background: coral;
	color: #fff;
	font-size: 1.4rem;
	padding: 1rem 2rem;
	font-weight: 700;
	transition: 0.5s;
}

.box .content .btnD:hover {
	background: #fff;
	color: coral;
}
